*.log

.idea/
*.iml
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.DS_Store
Thumbs.db
data/

.gradle/
build/
.kotlin/

node_modules/
.angular/
dist/
coverage/
